<section>
    <h1>Contact Me</h1>
    <p>I'd love to hear from you! Reach out here:</p>
    <ul>
        <li>Email: tinleaves.0@gmail.com</li>
        <li>GitHub: <a href="https://github.com/TinLeaves">Your Profile</a></li>
        <li>LinkedIn: <a href="https://linkedin.com">Your Profile</a></li>
    </ul>
</section>
