<section>
    <h1>Projects</h1>
    <div class="project-list">
        <article>
            <h2>Interactive Notes App</h2>
            <p>A notes app.</p>
            <a href="/">View Code</a>
        </article>
        <article>
            <h2>Contoso Sales Dashboard</h2>
            <p>An interactive Power BI dashboard analyzing key sales trends.</p>
            <a href="/">View Dashboard</a>
        </article>
    </div>
</section>
